PARSER_WORKER_ID=parser-worker-1
PARSER_WORKER_MODE=type-routed
PARSER_BACKEND_BASE_URL=http://127.0.0.1:4398
PARSER_BACKEND_TOKEN=local-parser-callback-token-change-me

RABBITMQ_URL=amqp://guest:guest@127.0.0.1:5673/%2f
REDIS_URL=redis://127.0.0.1:16379/0
RABBITMQ_PARSER_EXCHANGE=novex.parser
RABBITMQ_PARSER_EXECUTE_QUEUE=novex.parser.execute
RABBITMQ_PARSER_RETRY_QUEUE=novex.parser.retry
RABBITMQ_PARSER_DEAD_QUEUE=novex.parser.dead
RABBITMQ_PARSER_EXECUTE_ROUTING_KEY=parser.execute
RABBITMQ_PARSER_RETRY_ROUTING_KEY=parser.retry
RABBITMQ_PARSER_DEAD_ROUTING_KEY=parser.dead
RABBITMQ_PARSER_RETRY_TTL_MS=30000
PARSER_WORKER_PREFETCH=4
PARSER_WORKER_LEASE_TTL_SECONDS=120
PARSER_WORKER_IDEMPOTENCY_TTL_SECONDS=86400

MINERU_TOKEN=
MINERU_TIMEOUT_SECONDS=120
